
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Erstoria ', sans-serif;
  }

  @font-face {
    font-family: 'Erstoria';
    src: url('fonts/Erstoria.otf') format('opentype');
}

@font-face {
    font-family: 'Great Day Bold';
    src: url('fonts/Great Day Bold Personal Use.ttf') format('truetype');
}

:root {
--color-blanco: #ffffff;
--color-negro: #1a1225;
--color-azul-fondo: #003569;    
--color-hover: #8a8787;
}
  
  body {
    background: linear-gradient(to right, var(--color-negro)30%, var(--color-azul-fondo) 50%, var(--color-negro) 70%);

    background-position: center;
    background-size: cover;

  }
  header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  li {
    list-style: none;
  }

a{
    display: flex;
    gap: 2rem;
    font-size: 1rem ;
    text-decoration: none;
    color: var(--color-blanco);
    padding: 10px 35px;
    display: block;
    position: relative; 
    transition: color 0.3s ease;
    font-weight: 100;
    font-family: "Montserrat";

}

  header ul li a:hover {
    background-color: var(--color-hover);
    border-radius: 5px;
    color: var(--color-azul-fondo);
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}


              
.flipUp-360{
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}
.flipUp-360:hover{
    transform: translatey(-10px);
        -webkit-transform: translatey(-10px);
        -moz-transform: translatey(-10px);
}



              

              
   
      
              
            


header ul li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: var(--color-azul-fondo);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}


header ul li a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}


/* HEADER  */

header {
    position: relative;
    padding:0  2 rem ;

}

.navbar {
    width: 100%;
    height: 60 px;
    max-width: 1200px;
    margin: 0  auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1.4rem;

}



.navbar .logo a {
    font-size: 1.5 rem ;
    font-weight: bold;
    font-family: 'Great Vibes', sans-serif;
    margin: 0 10rem;

} 

.navbar .links a {
    display: flex;
    gap: 2rem;
    font-size: 1rem ;
    text-decoration: none;
    color: var(--color-blanco);
    padding: 10px 35px;
    display: block;
    position: relative; 
    transition: color 0.3s ease;
    font-weight: 100;
    font-family: "Montserrat";

    



}
.toggle{
    justify-self: right;
    position: absolute; 
    right: 10px
}

#toggle{
    color: var(--color-blanco);
    cursor: pointer;
    display: none; 
    
}
 /* DROP DOWN MENU */

 .dropdown_menu.open{
    height: 240px;

 }

 .dropdown_menu {
    position: absolute;
    display: none;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

 }

 .dropdown_menu li {
    padding: 0.7 rem ;
    display: flex;
    justify-content: center;
    align-content: center;
 }
/* TITTLE ZONE 1*/

.tittleZone{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content:space-around;
    flex-direction: row;

}

.info{
    width: 50%;

}

.photo{
    width: 50%;
    display: flex;
    justify-content: right;
    align-content: center;
}
.photo img{
    height: 90%;
}




/* RESPONISVE */ 

@media(max-width: 992px){
    .navbar .links{
        display: none;
    }

    #toggle {
        display: block;
        font-size: 2.5rem ;
    }

 .dropdown_menu {
    display: block;


}



}

@media(max-width: 576px){
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }


}

